- content_for :title, "#{@career['battleTag']}: #{@hero['name']}"

.header
  %h1
    %span.hero-name= @hero['name']
    %small= @career['battleTag']

  %strong= @hero['level']
  - unless @hero['paragonLevel'].zero?
    %span.paragon-level= "(#{@hero['paragonLevel']})"
  = @hero['class'].titleize
  - if @hero['hardcore']
    \-
    %span.d3-color-hardcore Hardcore
