%h1
  = @full_name
  %small
    = @character['realm']

%table.table.table-condensed
  %caption
  %thead
    %tr
      %td
        %strong Property Name
      %td
        %strong Value
  %tbody
    %tr
      %td Race
      %td= @race_name
    %tr
      %td Class
      %td= @class_name
    %tr
      %td Level
      %td= @character['level']
